.container {
    width: 40%;
    height: 300px;
    margin: 100px auto;
    background-color: wheat;
    border: 2px solid black;
    perspective: 150px;

}
.transformed {
    transform: translate3d(20px 25px 20px) rotatex(45deg);
    animation-name: walking-cat;
    animation-duration: 10s;
    animation-play-state: running;
    animation-iteration-count: 2;
    position: relative;

}